.form-wrapper {
	width: 50%;
	padding: 2rem;
	height: 100vh;
	background: #fff;
}



.input {
	width: 50%;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}



input[type=submit], .btn {
	cursor: pointer;
	background: transparent;
	border: 1px solid #ccc;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin-top: 1rem;
}

input[type=submit] {
	float: right;
}

.btn {
	float: left;
}