.output-wrapper {
	width: 50%;
	padding: 2rem;
	height: 100vh;
	border-left: 1px solid #ccc;
	overflow-y: auto;

	.output {
		width: 80%;
		margin: 0 auto;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
		font-family: 'Droid Serif', serif;
		font-weight: 700;
	}
}