$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 992px;
$x-large-screen: 1200px;

$ms-base:  1rem;
$ms-ratio: 1.2;
$modularscale: (
	base: 1rem,
	ratio: 1.2,
	$small-screen: ( ratio: 1.1 ),
	$medium-screen: ( ratio: 1.15 ),
	$large-screen: ( ratio: 1.2 ),
	$x-large-screen: ( ratio: 1.25 )
);